body {	
	background-image: url(../image/background-3.jpg);
}

.BOX {
	width: 830px;
	height: 369px;
	border: 0px solid #444;
	box-shadow: 0px 0px 0px #666;
	
	position:absolute;
	left:50%;
	top:50%;
	
	margin-top:-250px;
	margin-left:-415px;
}

